# Linker config for an 8K C64 ROM cartridge mapped at $8000-$9FFF.
# Unused bytes are filled with $FF.

FEATURES {
    STARTADDRESS: default = $8000;
}

SYMBOLS {
    __STACKSIZE__: type = weak, value = $0100;
}

MEMORY {
    ROM: file = %O, start = $8000, size = $2000, fill = yes, fillval = $FF;
}

SEGMENTS {
    STARTUP: load = ROM, type = ro;
    RODATA:  load = ROM, type = ro;
    CODE:    load = ROM, type = ro;
    DATA:    load = ROM, type = ro;
    BSS:     load = ROM, type = ro, define = yes;
}
